.nested-fields
  .field.question
    %h3 Question
    = f.text_field :text
    .variants
      = f.fields_for :variants do |variant|
        = render 'variant_fields', f: variant
    .links
      = link_to_remove_association "remove question", f
      = link_to_add_association 'add variant', f, :variants
