= form_for @assessment do |f|
  = f.label :name_assessment
  = f.text_field :title
  #questions
    = f.fields_for :questions, @assessment.questions.build do |question|
      %h3 Questions
      = render 'question', f: question
      .links
      = link_to_add_association 'Add Question', f, :questions, partial: 'question'
      .action
    =f.submit "Create"